<div ng-controller="TryNewMusicController as vm">
  <md-content layout-padding>
    <div>
      <md-autocomplete
              md-selected-item="vm.newSelectedMusic"
              md-search-text="vm.searchText"
              md-selected-item-change="vm.selectedItemChange(item)"
              md-items="item in vm.querySearch(vm.searchText)"
              md-selected-item-change="vm.musicSelected(item)"
              md-item-text="item.title"
              md-min-length="3"
              md-clear-button="true"
              placeholder="Try new music"
              md-menu-class="autocomplete-custom-template">
            <md-item-template>
              <div layout="row">
                <div>
                  <img ng-src="{{item.imageUrl}}" width="120" height="90">
                </div>
                <div layout="column" class="suggestion-book-details">
                  <div><strong>{{item.title}}</strong></div>
                </div>
              </div>
            </md-item-template>
            <md-not-found>
              Not music found for "{{vm.searchText}}".
            </md-not-found>
        </md-autocomplete>
    </div>
  </md-content>
</div>